// ------------------------------------- //
// Style of Variables
// ------------------------------------- //

$gray-dark:     #373a3c !default;
$gray:          #5c5c66 !default;
$gray-light:    #b9bfcd !default;
$gray-lighter:  #dcdcdc !default;
$gray-lightest: #eef0f6 !default;

$violet:        #854db0 !default;
$salmon:        #b16b4c !default;
$slate:         #492e89 !default;

$brand-primary: #3280d9 !default;
$brand-success: #55bf54 !default;
$brand-info:    #4988b3 !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #b74c75 !default;
