// ------------------------------------- //
// Style of ReservationCard
// ------------------------------------- //

$module: 'reservation-card';

.#{$module} {
    @include size(100%);
    background: lighten($gray, 100%);
    display: inline-block;

    &.br-all {
        border: 1px solid $gray-lighter;
    }

    &.br-top {
        border-top: 1px solid $gray-lighter;
    }

    &.br-bottom {
        border-bottom: 1px solid $gray-lighter;
    }

    &--mine &__icon-circle {
        display: inline-block;
    }

    &__inner {
        @include size(100%);
        position: relative;
    }

    &__link {
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        display: inline-block;
        padding-left: 7px;
        text-decoration: none !important;
        overflow: hidden;

        &:focus {
            outline: none;
        }
    }

    &__icon-circle {
        @include size(10px);
        background: $brand-success;
        border-radius: 50%;
        display: none;
        margin-right: 3px;
    }

    &__subject {
        color: $gray-dark;
        margin-bottom: 5px;
    }

    &__details {
        padding: 0;
        margin: 0;
        list-style: none;
        color: $gray-light;
        font-size: .95em;
    }
}
