// ------------------------------------- //
// Style of Schedule
// ------------------------------------- //

$module: 'schedule';

.#{$module} {
    @include size(100%);
    padding-left: 50px;

    &__inner {
        @include size(100%);
        position: relative;
        overflow: scroll;
    }

    &__room-types {
        @include size(100%, 95px);
        color: lighten($brand-primary, 8%);
    }

    &__timeline {
        width: 100%;
        position: absolute;
        top: 95px;
        bottom: 0;
    }
}
